openapi: 3.2.0
info:
  title: crates.io Web Owners API
  description: 'The crates.io Registry Web API exposes endpoints used by Cargo and the crates.io website for searching, publishing, yanking, and managing crate ownership. The API is hosted at https://crates.io under the /api/v1 prefix and is the canonical implementation of the Cargo Registry Web API specification.

    '
  version: v1
  contact:
    name: crates.io Team
    email: help@crates.io
    url: https://crates.io
  license:
    name: Cargo Documentation (MIT/Apache-2.0)
    url: https://doc.rust-lang.org/cargo/reference/registry-web-api.html
servers:
- url: https://crates.io
  description: crates.io Production
security:
- ApiTokenAuth: []
tags:
- name: Owners
  description: List, add, and remove crate owners
paths:
  /api/v1/crates/{crate}/owners:
    get:
      summary: List Crate Owners
      description: Returns the list of users and teams that own a crate.
      operationId: listOwners
      tags:
      - Owners
      parameters:
      - $ref: '#/components/parameters/CrateName'
      responses:
        '200':
          description: Owner list document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnersResponse'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
    put:
      summary: Add Crate Owner
      description: Invite a user or team as an owner of the crate.
      operationId: addOwner
      tags:
      - Owners
      parameters:
      - $ref: '#/components/parameters/CrateName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OwnersChange'
      responses:
        '200':
          description: Owner invitation issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkMessageResponse'
        '403':
          $ref: '#/components/responses/Error'
    delete:
      summary: Remove Crate Owner
      description: Remove a user or team from the owners of the crate.
      operationId: removeOwner
      tags:
      - Owners
      parameters:
      - $ref: '#/components/parameters/CrateName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OwnersChange'
      responses:
        '200':
          description: Owner removed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkMessageResponse'
        '403':
          $ref: '#/components/responses/Error'
components:
  schemas:
    ErrorResponse:
      type: object
      required:
      - errors
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              detail:
                type: string
    Owner:
      type: object
      required:
      - id
      - login
      properties:
        id:
          type: integer
        login:
          type: string
        name:
          type: string
        kind:
          type: string
          enum:
          - user
          - team
        avatar:
          type: string
          format: uri
        url:
          type: string
          format: uri
    OwnersResponse:
      type: object
      required:
      - users
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/Owner'
    OkMessageResponse:
      type: object
      required:
      - ok
      properties:
        ok:
          type: boolean
        msg:
          type: string
    OwnersChange:
      type: object
      required:
      - users
      properties:
        users:
          type: array
          minItems: 1
          items:
            type: string
            description: A GitHub login (user) or a github:org:team identifier (team).
  parameters:
    CrateName:
      name: crate
      in: path
      required: true
      description: The crate name (e.g. serde, tokio, rand).
      schema:
        type: string
  responses:
    Error:
      description: Error envelope returned by the crates.io API.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    ApiTokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'A crates.io API token created at https://crates.io/settings/tokens. The raw token is sent in the Authorization header without a Bearer prefix.

        '
